.about {
  position: relative;
  background-color: #00060A;
  margin-top: -2px;

  &__wrapper {
    padding: 105px 0 77px;

    @media (max-width: 1024px) {
      padding: 50px 0 40px;
    }
  }

  &__info {
    display: flex;
    justify-content: end;
    border-radius: 8px;
    background: url("../images/about-info-background.svg") no-repeat;
    
    @media (max-width: 1024px) {
      justify-content: center;
      text-align: center;
      padding: 40px 0px 40px;
    }
  }

  &__text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 33px;
    color: #D9F7F5;
    max-width: 497px;
    max-height: 290px;
    margin: 0;

    @media (max-width: 767px) {
      max-height: none;
    }
  }

  &__main-img {
      position: absolute;
      left: 400px;
      top: 80px;
    
    @media (max-width: 1440px) {
      left: 265px;
    }

    @media (max-width: 1024px) {
        display: none;
    }
  }
}