.benefits {
  background-color: #00060a;
  color: #D9F7F5;

  &__title {
    font-size: 42px;
    font-weight: 600;
    line-height: 51px;
    color: #2ADACC;
    margin-bottom: 50px;
  }

  &__wrapper {
    text-align: center;
    padding: 105px 0 120px;

  }

  &__items-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    border: 1px solid #425667;
    max-width: 319px;
    border-radius: 8px;
    padding: 20px;
  }

  &__text {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 22px;
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 2px solid #202932;
    padding-bottom: 20px;

  }

  &__name {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__img {
    margin-bottom: 38px;
  }

  &__button {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    min-height: 40px;
    border: 1px solid #2ADACC;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__btn {
    color: #2ADACC;
    text-decoration: none;
  }

}