.education {
  background-color: $c-dark;
  color: #D9F7F5;

  &__wrapper {
    padding: 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
      flex-direction: column;
      padding: 50px 0 50px;
    }
  }

  &__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    color: #2ADACC;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
      text-align: center;
    }

    &-wrapper {
      max-width: 500px;
    }
  }

  &__text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 45px;

    @media (max-width: 1024px) {
      text-align: center;
    }
  }

  &__img {
    margin-right: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-item {
      width: 48%;
      display: flex;
      align-items: center;
      margin-bottom: 32px;
    }
  }

  &__name {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;

    &:hover {
      color: #2ADACC;
      cursor: pointer;
    }
  }
}

 iframe {
  @media (max-width: 767px) {
    max-width: 100%;
  }
}