.footer {
  background: #00060a;
  color: #D9F7F5;
  padding-top: 70px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__text {
    max-width: 274px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    &-wrapper {
      display: flex;
      flex-direction: column;
      padding-right: 108px;

      &:last-child {
        padding: 0;
      }
    }
  }

  &__item-green {
    color: #2ADACC;
    padding-bottom:8px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
  }

  &__item {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
  }

  &__socials {
    display:flex;
    justify-content: space-between;
    border-top: 2px solid #202932;
    padding: 20px 0;

  }

}

.socials {
  &__copyright {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}
