.header {
  &__wrapper {
    display: flex;
    padding-top: 15px;
    align-items: center;

    @media (max-width: 1024px) {
      justify-content: space-around;
    }

    @media (max-width: 375px) {
      justify-content: start;
    }

  }

  &__menu {
    padding-left: 290px;

    @media (max-width: 1280px) {
      padding-left: 110px;
    }

    @media (max-width: 1024px) {
      padding-left: 30px;
    }

    @media (max-width: 767px) {
      padding-left: 55px;
    }

    @media (max-width: 375px) {
      display: none;
    }

  }

  &__item {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #D9F7F5;
    text-decoration: none;
    margin-right: 32px;

    @media (max-width: 1024px) {
      font-size: 12px;
      font-weight: 600;
      margin-right: 10px;
    }
    
  }

  &__btn-black {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    color: #2ADACC;
    display: flex;
    justify-content: center;
    border: 2px solid #2ADACC;
    border-radius: 6px;
    font-weight: 700;
    min-height: 40px;
    align-items: center;
    min-width: 146px;
    
    @media (max-width: 1024px) {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      min-width: 120px;
    }

    @media (max-width: 375px) {
      display: none;
    }
    

  }

  &__logo:first-child {
    margin-right: 16px;
  }
}

