.mission {
  background-color: #00060a;
  color: #D9F7F5;

  &__wrapper {
    padding: 134px 0 55px;
    display: flex;
    justify-content: space-between;
  }


  &__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    color: #2ADACC;
    max-width: 568px;
    margin-bottom: 55px;
  }

  &__title-before {
    margin-bottom: 10px;
  }

  &__text-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  &__text-wrapper {
    max-width: 568px;

    &:nth-child(3) {
      margin-bottom: 24px;
    }

  }

  &__img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 60px;
  }

}
